# Environment variables
.env

# File data lokal
*.json
!package.json
!package-lock.json

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
